body{
    padding: 20px;
}

.image{
    outline: rgb(241, 1, 1) 2px solid;
    
}

article{
    outline: black 2px solid;
    
}

ul{
    padding: 20px;
}

.searchHeader{
    position: fixed;

}

#searchBtn{
    background-color: slategray;
    border: slategray;
}

#searchBtn:hover{
    background-color: rgb(121, 58, 7);
}

.carouselContainer {
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
